.fck-products-carousel, .ck-products-carousel *{

    box-sizing: border-box!important;
}
.fck-products-carousel{
    width: 100%;
    min-height: 100px;
    height: fit-content;
    display: grid;
    grid-template-columns: 32px 1fr 32px;
    grid-template-rows: 1fr;
}

.fck-products-carousel .fckpc-viewport{
    position: relative;
    width: 100%;
    overflow: hidden;
    border: solid 1px #ddd;
}

.fckpc-viewport .fckpc-pool{
    position: absolute; top: 0; bottom: 0; left: 0;
    height: fit-content; 
    width: fit-content;
    margin-top: auto;
    margin-bottom: auto;
    display: flex; flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.fckpc-pool > .fckpc-itemwarpper{
    padding: 6px;
    box-sizing: border-box!important;
}

.fckpc-aside{
    position: relative;
    z-index: 2;
}

.fckpc-aside > button{
    position: absolute;
    top:0;left:0;
    bottom: 0;
    margin: auto;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    cursor: pointer;
    border: none;font-size: 28px;
    color: white;
    background-color: rgb(35, 110, 223);
    box-shadow: 2px 3px 4px #0004;
}

.fckpc-aside > button.asideright{
    left: unset;
    right:0!important;
}

@media only screen and (max-width: 756px){
    .fck-products-carousel{
        grid-template-columns: auto 1fr auto;
    }
    .fckpc-aside > button{
        display: none;
    }
    .fck-products-carousel .fckpc-viewport{
        overflow-x: auto;
    }
}