{
    "presets": [
        "@babel/preset-env", 
        "@babel/preset-react",
        "@babel/preset-typescript"
    ],
    "plugins": [
        ["module-resolver", {
            "root": ["./dist"],
            "alias": {
                "@lib": "../lib",
                "@pages": "./src/react-apps/pages",
                "@assets": "./src/public/assets"
            }
        }]
    ]
}